body{
    font-family: 'Lobster', cursive;

}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 25px;
}
.flexible-container{
    display: flex;
    margin: 0%;
    padding-top: 2%;

}
.blue-color{
    color: green;
}
.half-Width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;   
}
.half-Width img{
    width: 450px;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( green, greenyellow);
    padding: 5px 10px;
    color: wheat;
    font-weight: 700;
    border-radius: 5px;
}
.mission-steps{
    text-align: center;
    padding-right: 6%;
    padding-left: 6%;    
}
.mission-goals{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(67, 214, 92);
}
.mission-goals img{
    width: 100px;
}
#steps-goals{
    background-color:gold;
}
#steps-to-goals{
    background-color: green;
}
.color-change{
    color: white;
}
#steps-goal-to{
    background-color: skyblue;
}
.about-html{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    padding-top: 2%;
}
.about-html img{
    width: 450px;
    border-radius: 10px;   
}
.about-css img{
    width: 500px;
    border-radius: 10px;
}
.about-css{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    padding-top: 1%;
}
.header{
    text-align: center;
}
.about-last{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
    

}
.about-last img{
    width: 450px;
    padding-top: 5%;

}

footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding-top: 1%;
    padding-bottom: 1%;
}
