body{
    font-family: 'Lobster', cursive;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
.flexible-container{
    display: flex;
    margin: 0%;
}
.blue-color{
    color: chocolate;
}
.half-Width{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;

}
.half-Width img{
    width: 350px;
    padding-left: 30%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( chocolate, chocolate);
    padding: 5px 10px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
}
.mission-steps{
    text-align: center;
    padding-right: 6%;
    padding-left: 6%;
    
}
.mission-goals{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(67, 214, 92);
}
.mission-goals img{
    width: 100px;
}
#steps-goals{
    background-color: rgb(41, 235, 35);
}
#steps-to-goals{
    background-color: rgb(196, 151, 202);

}
#steps-goal-to{
    background-color: rgba(227, 240, 44, 0.884);

}
